
environment:
  n_iteration: 1000
  agents_type: dsa
  n_agents: 30
  n_domain: 10

constraints:
  seed: 42
  cost_range: !!python/tuple [1,10]
  problem_density: 0.5  # i.e., p1
  problem_toughness: 0.5  # i.e., p2
  filename:
    constraints: DCOP/constraints/agent_{}.pickle
    edges: DCOP/constraints/edges.pickle

DSA:
  type: C
  p: 0.7

MGM2:
  iterations_in_cycle: 5
  offer_probability: 0.5